<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class=" panel has-text-centered">Create</h1>
                <h1 class=" panel has-text-centered">Créer un utilisateur</h1>
                <form class="panel" action="/inside" method="POST">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Name" name="username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " type="email" placeholder="Email" name="email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="Password" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">confirmer le password</label>
                        <div class="control">
                            <input class="input" type="Password" placeholder="Password" name="confpassword">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox">
                                I agree to the terms and conditions
                            </label>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column ">
                <h1 class=" panel has-text-centered">Read</h1>
                <h1 class=" panel has-text-centered">Liste des utilisateurs</h1>
                {{#each dbuser}}
                <div class="column panel">
                    <div class=" column is-one-quarter">
                        <p>picture</p>
                    </div>
                    <div class="column is-three-quarters">
                        <p>nom : {{ this.name }}</p>
                        <p>mail : {{ this.email }}</p>
                        <p>inscription : {{ moment this.createDate format="DD/MM/YY" }}</p>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="column">
                <h1 class=" panel has-text-centered">Update</h1>
                <h1 class=" panel has-text-centered">Modifier un utilisateur</h1>
                {{#each dbuser}}
                <form class="panel" action="/inside/{{ _id }}/?_method=PUT" method="POST">
                    <div class="columns ">
                        <div class=" column is-one-quarter">
                            <p>picture</p>
                        </div>
                        <div class="column is-three-quarters">
                            <input class="input" name="username" value="{{this.name}}"></input>
                            <input class="input" name="email" value="{{this.email}}"></input>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">Modifier</button>
                    </div>
                </form>
                {{/each}}
            </div>
            <div class="column">
                <h1 class=" panel has-text-centered">Delete</h1>
                <h1 class=" panel has-text-centered">Effacer un utilisateur</h1>
                {{#each dbuser}}
                <form class="panel" action="/inside/{{ _id }}/?_method=DELETE" method="POST">
                    <div class="columns ">
                        <div class=" column is-one-quarter">
                            <p>picture</p>
                        </div>
                        <div class="column is-three-quarters">
                            <p name="username"></p> {{this.name}}</p>
                            <p name="email"></p> {{this.email}}</p>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">Effacer</button>
                    </div>
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</section>